.global {
  margin-top: 150px;
}

.top {
  text-align: justify;
}

.topleft {
  background-color: #f9f9f9;
}

.topright {
  margin-left: 30px;
}

.bottom {
  text-align: justify;
  margin-top: 30px;
  padding-right: 15px;
}

.btn {
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* .justify {
  text-align: justify;
} */
