.lienButton {
  background-color: inherit;
  color: #dd2b25;
}

.blocsImgResp {
  display: none;
}

@media screen and (max-width: 640px) {
  .blocsImgResp {
    display: inline-block;
  }
  .blocsImg {
    display: none;
  }
}
