.theadBackground {
  background-color: #dd2b25;
  color: white;
}

.buttonInput {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  margin: 5px;
}

.export {
  justify-content: right;
}

.thFontsize {
  font-size: 12px;
}
