.usersListTitle {
  background-color: #dd2b25;
  color: white;
  padding: 0.8vw;
}
.usersListTitleMargin {
  padding-top: 0.8vh;
}
.usersListPage {
  margin-top: 5vh;
}
.inputSearch {
  border-radius: 0;
  width: 10vw;
}
.containerCadre {
  box-shadow: 5px 5px 2.5px #dfd9d9;
  border: 1px solid #dfd9d9;
  margin-bottom: 4vh;
}
.checkboxTh {
  position: relative !important;
  margin: 0 !important;
}
.UsersListButton {
  padding: 8px 20px !important;
  border: 1px solid transparent;
  box-shadow: 5px 5px 2.5px #dfd9d9 !important;
  background-color: white;
  color: black;
  border-radius: 0;
  margin-bottom: 4vh;
}
.UsersListButton:hover {
  border: 0.2vw solid #dd2b25;
  background-color: white;
  color: black;
}
.UsersListExportButton {
  margin-bottom: 4vh;
  color: black;
  margin-top: 2vh;
}
.UsersListExportLink {
  margin-bottom: 4vh;
  color: black;
}
.arrowDown {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.arrowUp {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrowButtons {
  color: transparent;
  background-color: transparent;
  border: none !important;
  margin: 0 0.2vw 0 0.5vw;
  padding: 0;
}
