.drapeau {
  width: 25px;
}
.dropdowm {
  min-width: 40px !important;
}
.nav {
  display: flex;
  position:   fixed;
 width : 100vw;
 height : 7vh;
}
.navbar {
  justify-content: flex-end;
  width: 100%;
}
.banner {
  width: 100%;
 
}
.networking {
  float: left;
  top : -35vh;
  position: relative;
  width: 50vw;
 
}
