.logo_crea {
  width: 15vw;
  margin-right: 2vw;
}
.logo_anec {
  width: 12vw;
  padding-top: 0.7vw;
  margin-right: 2vw;
}
.logo_networking {
  width: 18vw;
}
.navbar {
  background-color: rgb(255, 255, 255, 0.5);
  height: 8vw;
  position: absolute !important;
  width: 100%;
}
.partenaires {
  padding-left: 10vw;
  padding-right: 8vw;
  font-size: 1.5vw;
}
.contact {
  font-size: 1.5vw;
  padding-right: 2vw;
}

@media screen and (max-width: 800px) {
  .partenaires {
    padding-left: 8vw;
    padding-right: 2vw;
    font-size: 1.5vw;
  }
}
