.logo_crea {
  width: 7vw;
  margin-left: 2vw;
}
.logo_anec {
  width: 12vw;
  padding-top: 0.7vw;
  margin-right: 2vw;
}
.logo_networking {
  width: 18vw;
}
.navbar {
  background-color: rgb(255, 255, 255, 0.8);
  height: 6vw;
  position: fixed !important;
  width: 100%;
  margin-top: 7vh;
  z-index: 500;
}
.partenaires {
  padding-left: 45vw;
  padding-right: 8vw;
  font-size: 20px;
}
.partenairesUser {
  padding-left: 30vw;
  font-size: 1.4rem;
}
.contact {
  font-size: 20px;
  padding-right: 2vw;
}
.navlink {
  color: black;
}
.navlink:hover {
  color: #dd2b25;
}

.monDashboard {
  font-size: 1.3vw;
  margin-left: 10vw;
}
.mesnavbarItems {
  font-size: 1.3vw;
  margin-left: 5vw;
  color: black;
}
.mesnavbarItems:hover {
  color: #dd2b25;
}

.itemUser {
  padding-left: 2.8vw;
  font-size: 1.4rem;
}
@media screen and (max-width: 800px) {
  .partenaires {
    padding-left: 8vw;
    padding-right: 2vw;
    font-size: 1.5vw;
  }
}
