@font-face {
  font-family: 'Raleway';
  src: url('./Raleway/Raleway-Bold.ttf');
}

.cover {
  background-image: url('./image/img_header_crea.png');
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 30vh;
  text-align: left;
  padding-left: 1vw;
  padding-top: 25vh;
}

.cover hr {
  background-color: white;
  width: 15vw;
}

.pres {
  padding: 0 4vw;
}
