@font-face {
  font-family: 'Raleway-Bold';
  src: url('../raleway/Raleway-Bold.ttf');
}
.dashboardTable {
  margin: 0;
  padding: 0;
}
.dashboardTable h3 {
  font-size: 20px !important;
  color: #28262b;
  line-height: 1.5;
  font-weight: 800;
  text-align: left;
  font-family: 'Raleway-Bold';
  text-transform: uppercase;
}
/* .dashboardTable hr {
  height: 8px;
  width: 10%;
  background-color: #dd2b25;
  margin: 0;
} */
.tables td {
  font-family: 'Raleway';
  text-align: left;
  font-size: 16px;
}

.tables th {
  text-align: left;
  font-family: 'Raleway-Bold';
  font-size: 17px;
  border-bottom:inherit;
  border-top:2px solid grey;
  
}
.table {
  color: black;
}
.activeOn {
  color: black !important;
  cursor: pointer;
}
.activeOff {
  color: grey !important;
  cursor: pointer;
}
.rowTd {
  display: flex;
  flex-direction: row;
  color: black;
}
.rowTd img {
  margin-right: 1vw;
}
.navButton {
  border: inherit;

}
.cross {
  width: 1vw;
  cursor: pointer;
}
.deleteButton {
  background-color: transparent;
  margin: 0;
}
.collapse {
  max-height: 5vh !important;
  height: 5vh;
  overflow: hidden;
  text-overflow: ellipsis !important;
}
.collapse:hover {
  height: auto;
}
.modalComment {
  cursor: pointer;
  color: #007bff !important;
}
.modalComment:hover {
  cursor: pointer;
  text-decoration: underline !important;
  color: #007bff;
}
