.bkgFooter {
  background-color: #f9f9f9;
  text-align: left;
  color: #acacac;
}

.colorLink {
  color: #acacac;
}

.iconFooter {
  color: #dd2b25;
}

.imgWidth {
  width: 70%;
}

.tagMl {
  color: #28262b;
}
